.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vh;
  height: 100vh;
}
body{
  margin: 0%;
  padding: 0%;
}
.header{
  flex: 20%;
  width: 100%;
  background-color:#bdcebe;
  padding: 20px;
  align-items: center;
  padding-top: 45px;
}
.todoContainer{
flex:80%;
background-color: #e6e2d3;
padding: 30px
}

.input[type="text"] {
  margin-right: 20px;
  padding: 3px;
}
.button {
  border: none;
  padding: 4px;
}
.col {
  flex: 1 0 0%;
  margin-bottom: 8px;
}